body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .profile-info h1 {
    margin: 0;
    font-size: 24px;
  }

  .profile-info p {
    margin: 5px 0;
  }

  .profile-stats {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }

  .profile-stats li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  .gallery-item img {
    width: 100%;
    border-radius: 5px;
  }
