<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-5 mb-3" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Online Gallery</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'users:profile' %}">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts:home' %}">Global</a>
            </li>
        </ul>
        <form method="get" class="form-inline my-2 my-lg-0">
            <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" value="{{ request.GET.q }}" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if request.user.is_authenticated %}
            <button class="btn btn-outline-success my-2 my-sm-0 ml-3" type="submit">
             <a href="{% url 'users:logout' %}">
                Logout
            </a>
            </button>

            <button class="btn btn-outline-success my-2 my-sm-0 ml-3" type="submit">
             <a href="{% url 'posts:add' %}">
                Add photo
            </a>
            </button>
        {% else %}
            <button class="btn btn-outline-success my-2 my-sm-0 ml-3" type="submit">
                <a href="{% url 'users:login' %}">
                    Login
                </a>
            </button>
        {% endif %}
        <button class="btn btn-outline-success my-2 my-sm-0 ml-3" type="submit">
            <a href="{% url 'users:register' %}">
                Register
            </a>
        </button>
    </div>
</nav>