{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram Profile Page</title>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
    }
    .container {
      margin-top: 20px;
    }
    header {
      display: flex;
      align-items: center;
    }
    .profile-picture {
      margin-right: 20px;
    }
    .profile-info h1 {
      font-size: 24px;
      margin: 0;
    }
    .profile-info p {
      margin: 0;
    }
    .profile-stats {
      list-style: none;
      padding: 0;
      margin-top: 10px;
    }
    .profile-stats li {
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;
    }
    .gallery {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 10px;
    }
    .gallery-item {
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
    }
    .gallery-item img {
      width: 100%;
      height: auto;
      display: block;
    }
    .btn-primary {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .btn-primary:hover {
      background-color: #0056b3;
    }
    .btn-secondary {
      background-color: #6c757d;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .btn-secondary:hover {
      background-color: #5a6268;
    }
  </style>
</head>
<body>
{% include 'header.html' %}
<div class="container">
  <header>
    <div class="profile-picture">
      <img src="{{ user.avatar.url }}" alt="Profile Picture">
    </div>
    <div class="profile-info">
      <h1>@{{ user.username }}</h1>
      <h1>{{ user.first_name }}</h1>
      <p>{{ user.bio }}</p>
      <ul class="profile-stats">
        <li><strong>{{ user.posts.count }}</strong> posts</li>
        <li><strong>100k</strong> followers</li>
        <li><strong>{{ user.whom.count }}</strong> following</li>
      </ul>
    </div>
    <div>
      <button class="btn-primary"><a href="{% url 'users:update' %}" style="color: #fff; text-decoration: none;">Update profile</a></button>
      <button class="btn-secondary"><a href="{% url 'users:follow' pk=user.id %}">Follow</a></button>
    </div>
  </header>
  <div class="gallery">
    <!-- Gallery Images -->
    {% for post in user.posts.all %}
    <div class="gallery-item">
      <img src="{{ post.image.url }}" alt="Image 1">
    </div>
    {% endfor %}
    <!-- Add more images here -->
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
