<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

{% include 'header.html' %}

<div class="container">
    <img width="600" height="300" src="{{ post.image.url }}" alt="">
<h1>{{ post.title }}</h1>
<p>{{ post.description }}</p>
    {% if request.user.is_authenticated %}
<form action="{% url 'posts:comment' pk=post.id %}?next={{ request.path }}" method="post">
{% csrf_token %}
    <textarea style="width: 600px" name="comment">

    </textarea>
    <button type="submit">Comment</button>e
</form>
    {% endif %}

<ul>
    {% for comment in comments %}
    <li>
        <h3>{{ comment.user.username }}</h3>
        <p>{{ comment.comment }}</p>
    </li>
    {% endfor %}
</ul>

</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>