<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Sizning pochtangizga tasdiqlash kodi yuborildi.</h1>
<form action="{% url 'users:verify' %}" method="post">
    {% csrf_token %}
    <input name="code" required>Enter code</input>
    <button type="submit">Send</button>
</form>
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
</body>
</html>